<nav>
    <div class="logo">AfricanLegacy</div>
    <!-- Mobile Menu Icon -->
    <div class="menu-toggle">&#9776;</div>
    <ul id="nav-list">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="heroes.html">Heroes</a></li>
        <li><a href="store.html">Store</a></li>
        <li><a href="cart.html">Cart <span id="cart-count">(0)</span></a></li>
        <li id="nav-login"><a href="login.html">Login</a></li>
        <li id="nav-admin" style="display:none;"><a href="admin.html">Admin</a></li>
    </ul>
</nav>